/** main.scss */
@use 'global' as *;

.blog {
  background-color: $white;
  max-width: unset;
  padding: 5% 10%;

  .title {
    @extend %base-title;
  }

  .process-list {
    margin-top: 40px;
    margin-bottom: 36px;

    .process {
      margin-bottom: 25px;

      & > div {
        & > h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 500;
        }
        & > p {
          color: $dark-green-text;
          margin: 0;
        }
      }

      .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;
        border-radius: 50%;
        img {
          height: 100%;
        }

      }
    }
  }

  .author{
    img{
      width: 40px;
      border-radius: 50%;
    }
  }

  button {
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px;
  }

  .category{
    color: $light-green;
  }

  .read-time{
    color:$light-gray;
  }

  p {
    color:$gray;
  }

  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 350px; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
    height: 700px;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 1px solid $light-gray;
    margin: 0;
  }

}


@media (max-width: 575px) {
  .blog {
    .row {
      display: grid;
      .col {
        float: left;
        width: 90%;
        padding: 5% 0%;
      }
    }
  }
}

