body div{
  /* display: inline; */
  display: block;
}

.caja-estandar{
  background-color: red;
  width: 500px;
  height: 100px;
  margin: 50px;
  padding: 20px 30px 25px 10px;
  border-top: 10px solid black;
  border-bottom: 5px solid black;
  border-left: 10px solid black;
  border-right: 30px solid black;
}
.caja-alternativa{
  box-sizing: border-box;
  background-color: red;
  width: 500px;
  height: 100px;
  margin: 50px;
  padding: 20px 30px 25px 10px;
  border-top: 10px solid black;
  border-bottom: 5px solid black;
  border-left: 10px solid black;
  border-right: 30px solid black;

}